<p>
<table>
{% for comment in comments %}
    <tr>
        <td>{{ comment.author.username }}</td>
        <td>{{ comment.comment }}</td>
        <td>{{ comment.rate }}</td>
    </tr>
{% else %}
    <tr>
        <td colspan="4">Aucun commentaire enregistré</td>
    </tr>
{% endfor %}
</table>
</p>
