<div class="container">
    <div class="row">
        <div class="col-6">
            <a href="{{ path('program_index')}}" class=" btn">Les séries</a>
        </div>
        <div class="col-6">
            <a href="{{ path('season_index')}}" class=" btn">Les saisons</a>
        </div>
    </div>
</div>
