{% extends 'base.html.twig' %}

{% block title %}New Program{% endblock %}

{% block body %}

    {% include 'admin/_admin_nav.html.twig' %}

    <div class="container">

        <div class="row">
            <h1>Create new Program</h1>
        </div>

        <div class="row" id="form-row">
            {{ include('program/_form.html.twig') }}
        </div>

        <div class="row">
            <a href="{{ path('program_index') }}">back to list</a>
        </div>
    </div>

{% endblock %}
