<nav  class="navbar navbar-expand-lg">
    <a class="navbar-brand site-name" href="/">Wild Series</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/wild/show"></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Catégories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {% for category in categories %}
                        <a class="dropdown-item" href="{{ path('wild_cat', { 'cat': category.name|replace({' ':"-"})|lower }) }}">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </li>

            <li class="nav-item edit-btn">
                <a class="btn" href="{{path('program_index')}}">EDITION</a>
            </li>

        </ul>
    </div>
</nav>