{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-4">

        </div>
        <div class="col-4">
            <h1>Hello {{ username }}</h1>

            <table>
                <tr>
                    <td>Username</td>
                    <td>{{ username }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ email }}</td>
                </tr>
            </table>
        </div>
        <div class="col-4">

        </div>
    </div>
{% endblock %}
